<div class="lista-atletas">

  @for (elem of listaAtletas(); track elem.idpessoa) {

    <div class="atleta">

      {{ elem.idpessoa }} -
      {{ elem.nome }} -
      {{ calcularIdade(elem.datanascimento) }} anos -
      Peso: {{ elem.peso }} kg -
      Altura: {{ elem.altura }} m -
      IMC: {{ calcularImc(elem.peso, elem.altura).toFixed(1) }} -
      {{ classificarImc(calcularImc(elem.peso, elem.altura)) }}

      <a
        class="lnk-atleta"
        (click)="carregaDadosAtletaForm(elem)">
        A
      </a>

      <a
        class="lnk-atleta lnk-excluir"
        (click)="excluir(elem.idpessoa)">
        E
      </a>

    </div>

  }

</div>