<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>
    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/home" class="Ink-menu"> Home </a></li>
            <li><a routerLink="/cadastroAtleta" class="Ink-menu"> Cadastro do Atleta </a></li>
            <li><a routerLink="/listaAtleta" class="Ink-menu">Lista de Atletas </a></li>
            <li><a routerLink="/corridaComponent" class="Ink-menu"> Cadastro das Corridas </a></li>
            <li><a routerLink="" class="Ink-menu"> Corridas </a></li>
            <li><a routerLink="" class="Ink-menu"> Inscrições </a></li>
        </ul>
    </nav>
    
</header>
